.TodoItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 360px;
  background-image: linear-gradient(
    174.2deg,
    rgba(255, 244, 228, 1) 7.1%,
    rgba(240, 246, 238, 1) 67.4%
  );
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

.TodoItem__content {
  font-weight: bold;
}

.TodoItem__completed {
  display: flex;
  align-items: flex-end;
}

.done {
  color: white;
  background-image: linear-gradient(
    109.6deg,
    rgba(24, 138, 141, 1) 11.2%,
    rgba(96, 221, 142, 1) 91.1%
  );
}
.todo-check {
  width: 25px;
  height: 25px;
  color: darkgreen;
}

.todo-cross {
  width: 25px;
  height: 25px;
  color: orange;
}

.TodoItem__userId {
  font-size: 0.9rem;
}
