@import url("https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&family=Chakra+Petch:wght@400;700&family=Chivo+Mono:wght@400;800&family=Comfortaa:wght@400;700&family=Edu+NSW+ACT+Foundation:wght@400;700&family=Hanken+Grotesk:wght@400;700&family=Josefin+Sans:wght@400;700&family=Lexend+Deca:wght@400;700;800&family=Nanum+Myeongjo:wght@400;800&family=Nothing+You+Could+Do&family=Orbitron:wght@400;700&family=Poppins:wght@400;700&family=Quicksand:wght@400;700&family=Sen:wght@400;700&family=Ubuntu:wght@300&family=Unbounded:wght@400;800&family=Varela+Round&display=swap");

* {
  font-family: "Hanken Grotesk", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
