.ModalProduct {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  z-index: 2;
}

.product-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
}

.ModalProduct img {
  position: relative;
  width: 500px;
  height: 420px;
  object-fit: cover;
}
