* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    background-color: rgb(50, 50, 50);
    color: beige;
}

header {
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: left;
}
.links {
    list-style: none;
    margin-left: 40px;
}

.links li {
    display: inline-flex;
}

.links li a {
    padding: 20px;
    text-decoration: none;
    color: beige;
    transition: all 0.35s;
}

.links li a:hover {
    background-color: rgb(80, 80, 80);
 }

.container {
    display: flex;
    padding-left: 50px;
    justify-content: space-around;
}

.chess-board { 
    border-spacing: 0; 
    border-collapse: collapse; 
}

.chess-board th { 
    padding: .5em; 
}

.chess-board th + th { 
    border-bottom: 1px solid #000; 
}

.chess-board th:first-child,
.chess-board td:last-child { 
    border-right: 1px solid #000; 
}

.chess-board tr:last-child td { 
    border-bottom: 1px solid; 
}

.chess-board th:empty { 
    border: none; 
}

.chess-board td { 
    width: 1.5em; 
    height: 1.5em; 
    text-align: center; 
    font-size: 32px; 
    line-height: 0;
}

.chess-board .light { 
    background: rgb(252, 200, 90); 
}

.chess-board .dark { 
    background: rgb(85, 125, 55); 
}

.fa-solid {
    color: #000;
}

.fa-regular {
    color: rgb(255, 255, 255);
}



.text-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 50px;
}

.text-content button {
    background: transparent;
    border: 2px solid beige;
    border-radius: 10px;
    padding: 20px 25px;
    font-size: 15px;
    color: aliceblue;  
    cursor: pointer;
    transition: all 0.35s;
}

.text-content button:hover {
    background-color: rgb(80, 80, 80);
    box-shadow: 0 3px 10px 1px rgb(190, 190, 190);
}

.text-content button:active {
    transform: scale(0.97);
}

.board, .computer {
    color: beige;
    font-size: 35px;
}

button i {
    padding-right: 30px;
}


.learn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkmates, .basic-tactics, .pawn-endgames {
    /* border: 1px solid red; */
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 20px;
    width: 60vw;
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.learn-container button {
    width: 25vw;
    background-color: rgb(80, 80, 80);
    border: 2px solid beige;
    border-radius: 10px;
    margin: 10px;
    padding: 20px 25px;
    font-size: 15px;
    color: aliceblue;  
    cursor: pointer;
    transition: all 0.35s;
}

.learn-container button:hover {
    
    transform: scale(1.05);
}

.learn-container button:active {
    transform: scale(0.97);
}

.social-container {
    margin: 60px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.error-404 {
    margin: 50px;
    display: flex;
    align-items: center;
}
