.Month {
  box-shadow: 0 10px 12px 4px rgba(0, 128, 128, 0.25);
  color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  padding: 30px;
  border-radius: 6px;
}

.Month__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
}
