.Day {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
  border-radius: 4px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.active {
  background-color: lightcoral;
}
