@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@400;800&family=Nanum+Myeongjo:wght@400;800&family=Orbitron:wght@400;700&family=Poppins:wght@400;700&family=Quicksand:wght@400;700&family=Ubuntu:wght@300&family=Unbounded:wght@400;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
   
}

body {
    margin: 30px 50px;
    background-color: black;
    color: aliceblue;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

header a {
    color: aliceblue;
    text-decoration: none;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-flex;
    padding: 0 40px;
}

.nav-links li a {
    transition: all 0.35s ease 0s;
}

.nav-links li a:hover {
    color: aqua;
}

header button {
    background: transparent;
    border: 2px solid aliceblue;
    border-radius: 30px;
    padding: 8px 25px;
    font-size: 15px;
    color: aliceblue;  
    cursor: pointer;
    transition: all 0.35s;
}

header button:active {
    transform: scale(0.9);
}

.tv {
    margin: 6px;
}

.tv h2 {
    color: aliceblue;
    margin-top: 60px;
    letter-spacing: 1px;
}

.tv img {
    width: 150px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.35s;
}

.tv img:hover {
    transform: scale(1.1);
}

.tv img:active {
    transform: scale(0.95);
}

.popular, .top-rated {
    margin: 40px;
    padding: 10px;
    display: flex;
    overflow-x: auto;
    
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: none;
}

.overlay {
    position: absolute;
    /* top: 0;
    left: 0; */
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 255, 0.35);
    z-index: -1;
}

.tv-modal {
    display: flex;
    width: 800px;
    background-color: aliceblue;
    color: black;
    border-radius: 10px;
}

.tv-modal img {
    width: 360px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.wrapper-text {
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: space-around;
    font-size: 0.9rem;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
	background-color: #CCCCCC;
    border-radius: 12px;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
    border-radius: 12px;
}

::-webkit-scrollbar-thumb
{
	background-color: #FFF;
    border-radius: 12px;
	background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 25%, transparent 100%, rgba(0, 0, 0, 1) 75%, transparent)
}

footer {
    margin-top: 150px;
    width: 100%;
    padding: 100px 15%;
    display: flex;
}

footer div {
    text-align: center;
}

footer div h3 {
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.col-2 {
    flex-grow: 2;
}

.col-1 a {
    display: block;
    text-decoration: none;
    color: aliceblue;
    margin-bottom: 10px;
}

form input {
    width: 400px;
    height: 45px;
    border-radius: 8px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
}

form button {
    color: aliceblue;
    background: transparent;
    border: 2px solid aliceblue;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}

.icons {
    margin-top: 30px;
}

.icons i {
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
}



.input-search {
    width: 300px;
    height: 45px;
    border-radius: 8px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
}

.your-search {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    padding: 10px;
}

.info-card {
    display: flex;
    margin: 10px;
}

.your-search .info-card img {
    width: 150px;
    border-radius: 10px;
}

.info-card-text {
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: space-between;
    font-size: 0.9rem;
}