.Hero {
  position: relative;
}

.Hero img {
  height: 320px;
  width: 100vw;
  object-fit: cover;
}

.Hero h2 {
  position: absolute;
  top: calc(50% - 35px);
  left: 20%;
  height: 40px;
  color: white;
  font-size: 3rem;
}
